/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@font-face {
    font-family: 'Arame';
    src: asset-url('Arame.ttf');
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("background2.png");
    font-family: 'Arame', sans-serif;
    margin: 0;
    margin-bottom: 60px;
}

.jumbotron {}

header {
    position: relative;
    background-color: black;
    height: 40vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

.special-card {
    /* create a custom class so you 
       do not run into specificity issues 
       against bootstraps styles
       which tends to work better than using !important 
       (future you will thank you later)*/
    background-color: rgba(56, 88, 56, 0.651);
}

svg text.blink {
    animation: blink 2s ease-out;
}

body {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    position: relative;
}

#tagi {
    width: 70%;
    margin: 100px auto;
}

@keyframes blink {
    0% {
        text-shadow: 0 0 20px rgba(226, 25, 45, 0);
    }
    20% {
        fill: rgba(226, 25, 45, 1);
        text-shadow: -5px -5px 20px rgba(226, 25, 45, 0.8), 5px -5px 20px rgba(226, 25, 45, 0.8), 5px 5px 20px rgba(226, 25, 45, 0.8), -5px 5px 20px rgba(226, 25, 45, 0.8);
        ;
    }
    30% {
        fill: rgba(226, 25, 45, 1);
        text-shadow: -5px -5px 20px rgba(226, 25, 45, 0.8), 5px -5px 20px rgba(226, 25, 45, 0.8), 5px 5px 20px rgba(226, 25, 45, 0.8), -5px 5px 20px rgba(226, 25, 45, 0.8);
    }
    100% {
        text-shadow: 0 0 20px rgba(226, 25, 45, 0);
    }
}

.st0 {
    font-size: 68px;
}

.st1 {
    font-size: 27px;
}

.st2 {
    font-size: 65px;
}

.st3 {
    font-size: 41px;
}

.st4 {
    font-size: 41px;
}

.st5 {
    fill: #808080;
}

.st6 {
    font-size: 24px;
}

.st7 {
    font-size: 24px;
}

.st8 {
    font-size: 62px;
}

.st9 {
    font-size: 86px;
}

.st10 {
    font-size: 18px;
}

.st11 {
    font-size: 18px;
}

.st12 {
    font-size: 25px;
}

.st13 {
    font-size: 25px;
}

.st14 {
    font-size: 25px;
}

.st15 {
    font-size: 32px;
}

.st16 {
    font-size: 32px;
}

.st17 {
    font-family: 'Arame';
    font-weight: 600;
    fill: #a0a0a0;
}

.st18 {
    font-size: 22px;
}

.st19 {
    font-size: 22px;
}

.st20 {
    font-size: 36px;
}

.st21 {
    font-size: 19px;
}

.st22 {
    font-size: 51px;
}

.st23 {
    font-size: 26px;
}

.st24 {
    font-size: 33px;
}

.st25 {
    font-size: 20px;
}

.st26 {
    font-size: 23px;
}

.st27 {
    font-size: 23px;
}

.st28 {
    font-family: 'Arame';
}

.st29 {
    font-size: 54px;
}

.st30 {
    font-size: 20px;
}

.st31 {
    font-size: 37px;
}